.row:after{
    display:block;
    content:"";
    clear:both;
}
/*FONTS*/


/*GENERAL*/


/*PAGE STYLES*/

html {
font-family: Century Gothic;
}

.wrapper {  
}
.col1, .col2,.col3,.col4,.col5,.col6{
    
}
.gcol1, .gcol2,.gcol3,.gcol4,.gcol5,.gcol6{
    
}

/*------------------ACCUEIL------------------*/
.slider {
	width: 100%;
	margin: auto;
	
}

.slider-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100vh;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

.description{
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-top: 10vh;
    height: 80vh;
    

}
.description hr{
    background-color: white;
    width: 400px;
    
    border-color: white;
}
.description img{
    width: 150px;
}
.description .logo {
    width: 130px;
    margin: 0 auto;
}
.description h1 {
    color: white;
    font-size: 4em;
    text-align: center; 
    padding: 20px;
    text-shadow: 2px 2px 4px black;
}
.description h2 {
    color: white;
    font-size: 2.4em;
    text-align: center; 
    padding: 10px;
    text-shadow: 2px 2px 4px black;
}
.description i{
    font-size: 1.5em;
    text-shadow: 2px 2px 4px black;
    margin-left: 10px;
}
.description  h4 a{
    color: white;
}
.description  h4{
    font-weight: 400;
    font-size: 1.1em;
    text-shadow: 2px 2px 4px black;
    color: white;
    height: 30px;
    width: 250px;
    text-align: center;
    padding: 10px;
    border: solid white 2px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
.description h4:hover{
    background-color: #f0502a;
    width: 290px;
    font-size: 1.1em;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
#menu {
    
    width: 100%;
    height: 60px;
background-color: rgba(0, 0, 0, 0.5);
}
#menu h2{
    display: block;;
    width: 400px;
    float: left;
    color: white;
    font-size: 2.4em;
    text-align: center; 
    padding: 10px;
    text-shadow: 2px 2px 4px black;
}
#menu li {
    
    display: inline-block;
    height: 55px;
    padding:0 10px; 
    text-align: center;
    line-height: 58px;
    text-transform: uppercase;
    font-size: 0.9em;
    
}
#menu ul {
    font-size: 1.2em;
    padding-right: 50px;
    display: inline-block;
    float: right;
    
}
#menu a {
    text-decoration: none;
    color: white;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
#menu a:hover{
    color: #EC6400;
}
nav li:hover{
    border-bottom: 5px solid #EC6400;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.fixedMenu{
    position: fixed;
    top: 0;
    width: 100%;
    
}

.positionmenu{
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 20px;
}


/*------------------PROPOS------------------*/
#propos{
    padding-top: 15vh;
    
}



#propos .moi {
     margin-top: 100px;
    letter-spacing: 2px;
    font-size: 35px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
#propos .profil img{
    background-color: black;
    margin-left: 10%;
    width: 95%;
}
#propos .presentation p{
    letter-spacing: 1px;
    padding: 20px 10% 0 50px;
    text-align: justify;
    font-size: 1.2em;
}
#propos h3{
    
    color: white;
    text-align: center;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-left: 30%;
    margin-top: 20px;
    background-color: #f0502a;
    font-size: 1.1em;
    border: solid black 2px;
    
}
#propos h3:hover{
    color: black;
    background-color: white;
    font-size: 1.1em;
    border: solid #f0502a 2px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#propos .serv{
    margin-top: 50px;
}

#propos .services {
    
    margin-top: 150px;
    
    font-size: 35px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

/*IMAGE 3D*/        

        /*Image Background + taille des image*/
        .thumb {
            width: 20%; height: 25vh; margin: 60px 60px 0 50px ;
            perspective: 1000px;
            float: left;
        }
        .thumb img{width: 100%;
        height: 100%;}



        .thumb a {
            display: block; width: 100%; height: 100%;
            /*double layered BG for lighting effect*/
            background-image: url(../img/int%C3%A9gration_services.png),
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

            /*disabling the translucent black bg on the main image*/
            background-size: 0, cover;
            /*3d space for children*/
            transform-style: preserve-3d;
            transition: all 0.5s;
        }



        .trumb2 a{
            background-image: url(../img/graphisme_services.png),
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
                }
        .trumb3 a{
            background-image: url(../img/montage_services.png),
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
                }



        .thumb:hover a {transform: rotateX(80deg); transform-origin: bottom;}
        /*bottom surface */
        .thumb a:after {
            /*36px high element positioned at the bottom of the image*/
            content: ''; position: absolute; left: 0; bottom: 0; 
            width: 100%; height: 36px;
            /*inherit the main BG*/
            background: inherit; background-size: cover, cover;
            /*draw the BG bottom up*/
            background-position: bottom;
            /*rotate the surface 90deg on the bottom axis*/
            transform: rotateX(90deg); transform-origin: bottom;
        }
        /*label style*/
        .thumb a span {
            color: white; text-transform: uppercase;
            position: absolute; top: 100%; left: 0; width: 100%;
            font-size: 30px;
            line-height: 36px; text-align: center;
            /*the rotation is a bit less than the bottom surface to avoid flickering*/
            transform: rotateX(-89.99deg); transform-origin: top;
            z-index: 1;
        }
        /*shadow*/
        .thumb a:before {
            content: ''; position: absolute; top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba(0, 0, 0, 0.5); 
            box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
            transition: all 0.5s; 
            /*by default the shadow will be almost flat, very transparent, scaled down, an*/
            opacity: 0.15;
            transform: rotateX(95deg) translateZ(-80px) scale(0.75);
            transform-origin: bottom;
        }
        .thumb:hover a:before {
            opacity: 1;
            /*blurred effect using box shadow as filter: blur is not supported in all browsers*/
            box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
            /*pushing the shadow down and scaling it down to size*/
            transform: rotateX(0) translateZ(-60px) scale(0.85);
        }
#propos .servicesexpli{
    float: right;
    padding-bottom: 20px;
}
#propos .servicesexpli p{
    width: 20%; 
    margin: 60px ;
    float: left;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2em;
}


/*------------------QUALIFICATIONS------------------*/

#qualification .titre{
    height: 300px;
    background: url("../img/coding-924920_1920.jpg") no-repeat top fixed;
    background-size: cover;
    text-align: center;
}
#qualification .titre h1{
    line-height: 220px;
    text-transform: uppercase;
    font-size: 4em;
    font-family: Source Sans Pro;
    color: white;
    text-shadow: 2px 2px 4px black;
    width: 500px;
    margin: 0 auto;
    border-bottom: solid white 1px;
    height: 200px;
   

}

#qualification .formation {
    text-align: center;
    margin-top: 160px;
    font-size: 30px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
#qualification .formationn{
    height: 400px;
}
#qualification .annees:nth-child(odd ) {
    background-color: #f0502a;
}

#qualification .annees{
    border : solid black 3px;
    z-index: 100;
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 15%;
    background-color: #f48028;
    border-radius: 100px;
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 1.5em;
    margin-top: 120px
    
}
#qualification .ligne{
    position: absolute;
    z-index: -1;
    height: 3px;
    background-color: black;
    margin-top: 195px;
}
#qualification .descriforma{
    height: 1px;
}
#qualification .description2 p{
    text-align: center;
    width: 200px;
    float: left;
    margin-left: 12%;
    padding-top: 20px;
    letter-spacing: 1px;
}
#qualification .competences {
    
    margin-top: 160px;
    font-size: 30px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

/*Barre de compétence avec progression*/
            #container { text-align: center; margin: 20px; }
            #container h2 { color: #CCC; }
            

            .bar-main-container {
                margin: 10px;
                background-color: #f0502a; 
              width: 300px;
              height: 50px;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              font-family: sans-serif;
              font-weight: normal;
              font-size: 0.8em;
              color: #FFF;

            }

            .wrap { padding: 8px; }

            .bar-percentage {
              float: left;
              background: rgba(0,0,0,0.13);
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
              padding: 9px 0px;
              width: 18%;
              height: 16px;

            }

            .bar-container {
              float: right;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 4px;
              height: 34px;
              background: rgba(0,0,0,0.13);
              width: 80%;
              margin: 0px 0px;
              overflow: hidden;
            }

            .bar {
                padding-left: 3px;
                text-align: left;
                font-size: 1.2em;
                text-transform: uppercase;
                line-height: 32px;
              float: left;
              background: #f48028;
              height: 100%;
              -webkit-border-radius: 10px 0px 0px 10px;
              -moz-border-radius: 10px 0px 0px 10px;
              border-radius: 4px 0px 0px 4px;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              -moz-opacity: 1;
              -khtml-opacity: 1;
              opacity: 1;
            }
#qualification .entre{
    height: 1px;    /*présent pour mettre un espace entre les compétence */
}
#qualification h3{
    font-weight: 900;
    font-size: 1.2em;
}
.integration1, .devellopement1{
    padding-bottom: 9px;
} 
.graphisme1{
    padding-bottom: 4px;
}
.bureautique .bar{
    font-size: 0.85em;
}

/*------------------EXPERIENCES------------------*/

#experience .titre{
    height: 300px;
    background: url("../img/computer-768696_1920.jpg") no-repeat top fixed;
    background-size: cover;
    text-align: center;
}
#experience .titre h1{
    line-height: 220px;
    text-transform: uppercase;
    font-size: 4em;
    font-family: Source Sans Pro;
    color: white;
    text-shadow: 2px 2px 4px black;
    width: 500px;
    margin: 0 auto;
    border-bottom: solid white 1px;
    height: 200px;
   

}
#experience img{
    padding: 70px 14% 0 14%;
    width: 300px;
    height: 190px;
}
#experience .descrip{
    text-align: center;
     width: 300px;
    padding: 30px 14% 40px 14%;
}
#experience .date{
    text-align: center;
    width: 300px;
    padding: 20px 14% 0 14%;
    font-style: italic;
}

/*------------------PORTFOLIO------------------*/

#portfolio .titre{
    height: 300px;
    background: url("../img/back_porfolio.jpg") no-repeat top fixed;
    background-size: cover;
    text-align: center;
}
#portfolio .titre h1{
    line-height: 220px;
    text-transform: uppercase;
    font-size: 4em;
    font-family: Source Sans Pro;
    color: white;
    text-shadow: 2px 2px 4px black;
    width: 500px;
    margin: 0 auto;
    border-bottom: solid white 1px;
    height: 200px;
}
#portfolio img{
    
}

            /* *, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; } // required */
            .grid {
                position: relative;
                clear: both;

                list-style: none;
                text-align: center;
            }

            /* Common style */
            .grid figure {
                position: relative;
                float: left;
                overflow: hidden;
                min-width:20%;
                
                max-height: 360px;
                width: 0%;
                height: auto;
                background: #3085a3;
                text-align: center;
                cursor: pointer;
            }

            .grid figure img {
                position: relative;
                display: block;
                min-height: 100%;
                max-width: 100%;
                opacity: 0.8;
            }

            .grid figure figcaption {
            
                color: #fff;
                text-transform: uppercase;
                font-size: 1.25em;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .grid figure figcaption::before,
            .grid figure figcaption::after {
                pointer-events: none;
            }

            .grid figure figcaption,
            .grid figure figcaption > a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            /* Anchor will cover the whole item by default */
            .grid figure figcaption > a {
                z-index: 1000;
                text-indent: 200%;
                white-space: nowrap;
                font-size: 0;
                opacity: 0;
            }

            .grid figure h2 {
                word-spacing: -0.15em;
                font-weight: 300;
            }

            .grid figure h2 span {
                font-weight: 800;
            }

            .grid figure h2,
            .grid figure p {
                margin: 0;
            }

            .grid figure p {
                letter-spacing: 1px;
                font-size: 68.5%;
            }

/***********************************************/
            figure.effect-hera {
            }

            figure.effect-hera h2 {
                font-size: 158.75%;
            }

            figure.effect-hera h2,
            figure.effect-hera p {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(-50%,-50%,0);
                transform: translate3d(-50%,-50%,0);
                -webkit-transform-origin: 50%;
                transform-origin: 50%;
            }

            figure.effect-hera figcaption::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 200px;
                height: 200px;
                border: 2px solid #fff;
                content: '';
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
                transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
                -webkit-transform-origin: 50%;
                transform-origin: 50%;
            }

            figure.effect-hera p {
                width: 100px;
                text-transform: none;
                font-size: 121%;
                line-height: 2;
            }

            figure.effect-hera p a {
                color: #fff;
            }

            figure.effect-hera p a:hover,
            figure.effect-hera p a:focus {
                opacity: 0.6;
            }

            figure.effect-hera p a i {
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }

            figure.effect-hera p a:first-child i {
                -webkit-transform: translate3d(-60px,-60px,0);
                transform: translate3d(-60px,-60px,0);
            }

            figure.effect-hera p a:nth-child(2) i {
                -webkit-transform: translate3d(60px,-60px,0);
                transform: translate3d(60px,-60px,0);
            }

            figure.effect-hera p a:nth-child(3) i {
                -webkit-transform: translate3d(-60px,60px,0);
                transform: translate3d(-60px,60px,0);
            }

            figure.effect-hera p a:nth-child(4) i {
                -webkit-transform: translate3d(60px,60px,0);
                transform: translate3d(60px,60px,0);
            }

            figure.effect-hera:hover figcaption::before {
                opacity: 1;
                -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
                transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
            }

            figure.effect-hera:hover h2 {
                opacity: 0;
                -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
                transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
            }

            figure.effect-hera:hover p i:empty {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0); /* just because it's stronger than nth-child */
                opacity: 1;
            }


/***************************************/
            figure.effect-winston {
                text-align: left;
            }

            figure.effect-winston img {
                -webkit-transition: opacity 0.45s;
                transition: opacity 0.45s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            figure.effect-winston figcaption::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../img/triangle.svg) no-repeat center center;
                background-size: 100% 100%;
                content: '';
                -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
                transition: opacity 0.45s, transform 0.45s;
                -webkit-transform: rotate3d(0,0,1,45deg);
                transform: rotate3d(0,0,1,45deg);
                -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
            }

            figure.effect-winston h2 {
                text-align: center;
                margin-top: 10px;
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                -webkit-transform: translate3d(0,30px,0);
                transform: translate3d(0,30px,0);
            }

            figure.effect-winston p {
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 0 1.5em 7% 0;
            }

            figure.effect-winston a {
                margin: 0 10px;
                color: #fff;
                font-size: 170%;
            }

            figure.effect-winston a:hover,
            figure.effect-winston a:focus {
                color: #cc6055;
            }

            figure.effect-winston p a i {
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(0,50px,0);
                transform: translate3d(0,50px,0);
            }

            figure.effect-winston:hover img {
                opacity: 0.6;
            }

            figure.effect-winston:hover h2 {
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            figure.effect-winston:hover figcaption::before {
                opacity: 0.7;
                -webkit-transform: rotate3d(0,0,1,20deg);
                transform: rotate3d(0,0,1,20deg);
            }

            figure.effect-winston:hover p i {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            figure.effect-winston:hover p a:nth-child(3) i {
                -webkit-transition-delay: 0.05s;
                transition-delay: 0.05s;
            }

            figure.effect-winston:hover p a:nth-child(2) i {
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }

            figure.effect-winston:hover p a:first-child i {
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
            }
/*************************/

            figure.effect-apollo {
                background: #3498db;
            }

            figure.effect-apollo img {
                opacity: 0.95;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: scale3d(1.05,1.05,1);
                transform: scale3d(1.05,1.05,1);
            }

            figure.effect-apollo figcaption::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255,255,255,0.5);
                content: '';
                -webkit-transition: -webkit-transform 0.6s;
                transition: transform 0.6s;
                -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
                transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
            }

            figure.effect-apollo p a {
                color: #fff;
                font-size: 1.5em
            }

            figure.effect-apollo p {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 3em;
                padding: 0 1em;
                max-width: 150px;
                border-right: 4px solid #fff;
                text-align: right;
                opacity: 0;
                -webkit-transition: opacity 0.35s;
                transition: opacity 0.35s;
            }

            figure.effect-apollo h2 {
                text-align: center;
                margin-top: 10px;
            }

            figure.effect-apollo:hover img {
                opacity: 0.6;
                -webkit-transform: scale3d(1,1,1);
                transform: scale3d(1,1,1);
            }

            figure.effect-apollo:hover figcaption::before {
                -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
                transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
            }

            figure.effect-apollo:hover p {
                opacity: 1;
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }
            /*TABLETTE*/


            /*SMARTPHONE*/

            .espace {
                height: 1000px;
            }


#toggle{height:auto;text-align:center}
#toggle p{text-align:center;padding:0}
